params {
    // Override TRANSLON_CONTAINER_DIR when using another project installation.
    container_ribocode            = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/ribocode.sif"
    container_ribotricer           = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/ribotricer.sif"
    container_orfquant             = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/orfquant.sif"
    container_rpbp                 = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/rpbp.sif"
    container_samtools             = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/samtools.sif"
    container_transcript_models    = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/python.sif"
    container_gedi_price           = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/gedi-price.sif"
    container_ribotish             = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/ribotish.sif"
    container_iribo                = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/iribo.sif"
    container_orfrater             = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/orfrater.sif"
    container_riborf               = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/riborf.sif"
    container_ribotie              = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/ribotie.sif"
    container_ribotie_gpu          = "${System.getenv('TRANSLON_CONTAINER_DIR') ?: '/hps/nobackup/flicek/ensembl/genebuild/translon-containers'}/ribotie-cuda.sif"
}
