includeConfig '../../nextflow.config'

plugins {
    id 'nf-schema@2.2.0'
}

params {
    input_manifest = null
    manifest_base_dir = null
    chrom_sizes = null
    assembly_release = null
    outdir = './results'
    track_types = 'all'
    derive_junctions = false
    coverage_bin_size = 25
    coverage_normalization = 'CPM'
    max_entity_retries = 2
    publish_failed_entities = true
}

process {
    withName: INDEX_BAM {
        errorStrategy = 'retry'
        maxRetries = { params.max_entity_retries as int }
    }
    withName: BAMCOVERAGE {
        errorStrategy = 'retry'
        maxRetries = { params.max_entity_retries as int }
    }
}

profiles {
    test {
        process.executor = 'local'
        process.maxForks = 2
    }
}
