// See the NOTICE file distributed with this work for additional information
// regarding copyright ownership.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//process {
        //withName:fetchGenome {
        //executor = 'LSF'
        //queue = 'datamover'
        //}
        //maxForks = 300	
//	executor = 'LSF'
//	queue = 'production'
//	scratch = '/nfs/production/flicek/ensembl/genebuild/ftricomi/next_flow'
//}

profiles {

  standard {
    process.executor = 'LSF'
    process.queue = 'production'
    singularity.enabled = true
  }

  cluster {
    process.executor = 'slurm'
    process.queue = 'standard'
    singularity.enabled = true
  }

  slurm {
        process {
            executor = 'slurm'
            queue = 'standard'
            perJobMemLimit = true
            errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
            maxRetries = 3
            clusterOptions = '-t 24:00:00 -e errlog.txt'
            withLabel: 'default' {
                cpus = 1
                memory = { 30.GB * task.attempt }
                time = { 1.h * task.attempt }
            }
        }
        singularity.enabled = true
    }
}




//singularity {
//    enabled = true
//}
scratch = '/nfs/production/flicek/ensembl/genebuild/ftricomi/next_flow'
workDir = '/nfs/production/flicek/ensembl/genebuild/ftricomi/nextflow/work'
