/* 
 See the NOTICE file distributed with this work for additional information
 regarding copyright ownership.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
  
  // Input options
  csvFile = ''

  // db connection
  db = ''
  host = ''
  port = ''
  user = ''
  pass = ''

  enscode = ''
  bioperl = "${params.enscode}/bioperl-1.6.924"

  help = false

  outDir = ''
}

env {
    ENSCODE = "${params.enscode}"
    PERL5LIB = "${params.enscode}/ensembl/modules:${params.enscode}/ensembl-analysis/modules:${params.enscode}/ensembl-io/modules:${params.bioperl}"
}

scratch = ''
workDir = ''

// Load omark config
includeConfig 'conf/omark.config'

profiles {

  standard {
      process.executor = 'LSF'
      process.queue = 'production'
      singularity.enabled = true
      singularity.autoMounts = true
      //perJobMemLimit = true
      errorStrategy = { task.exitStatus == 130 ? 'retry' : 'terminate' }
      maxRetries = 3
  }

  slurm {
      process.executor = 'slurm'
      process.queue = 'standard'
      singularity.enabled = true
      singularity.autoMounts = true
      perJobMemLimit = true
      errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
      clusterOptions = '-t 24:00:00 -e errlog.txt'
      maxRetries = 3
  }
}

process {
            withLabel: 'default' {
                cpus = 1
                memory = { 3.GB * task.attempt }
                time = { 1.h * task.attempt }
            }
            withLabel: 'fetch_file' {
                cpus = 1
                memory = { 8.GB * task.attempt }
                time = { 2.h * task.attempt }
             }
            withLabel: 'omamer' {
                cpus = 10
                memory = { 50.GB * task.attempt }
                time = { 4.h * task.attempt }
                module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp' 
                container = "${params.omark_singularity_path}"
            }
}

