/* 
 See the NOTICE file distributed with this work for additional information
 regarding copyright ownership.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Set minimum required Nextflow version, stopping execution if current version does not match
nextflowVersion = '!>=23.01'

// Global default params, used in configs
params {
  // Input options
  csvFile = ''

  // db connection
  host = ''
  port = ''
  user = ''

  enscode = ''
  bioperl = "${params.enscode}/bioperl-1.6.924"

  help = false

  outDir = ''
  cacheDir = "${params.outDir}/cache"
  files_latency = '60'
  project = 'ensembl'
}

env {
  ENSCODE = "${params.enscode}"
  PERL5LIB = "${params.enscode}/ensembl/modules:${params.enscode}/ensembl-analysis/modules:" +
    "${params.enscode}/ensembl-io/modules:${params.bioperl}:$PERL5LIB"
}

scratch = ''
workDir = ''

// Load assembly-checker config
includeConfig 'conf/busco.config'

singularity {
  enabled = true
  autoMounts = true
  pullTimeout = '1 hour'
}

profiles {

  standard {
    executor {
      name = 'lsf'
      perJobMemLimit = true
      queueSize = 2000
      submitRateLimit = "10/1sec"
      queueGlobalStatus = true
      exitReadTimeout = "30 min"
    }

    process {
      queue = 'production'
    }
  }

  slurm {
    executor {
      name = 'slurm'
      queueSize = 2000
      submitRateLimit = "10/1sec"
      queueGlobalStatus = true
      exitReadTimeout = "30 min"
    }

    process {
      clusterOptions = '-t 24:00:00 -e errlog.txt'
    }
  }

  local {
    process.executor = 'local'
  }

}

process {
  errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
  maxRetries = 3
  cache = 'lenient'

  withLabel: 'default' {
    cpus = 1
    memory = { 3.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withLabel: 'busco' {
    cpus = 40
    memory = { 40.GB * task.attempt }
    time = { 4.h * task.attempt }

    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = "ezlabgva/busco:${params.busco_version}"
  }
  withLabel: 'fetch_file' {
    cpus = 1
    memory = { 8.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

}

