/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

includeConfig "$projectDir/params.config"

workDir = "./work"
scratch = "./"

singularity {
    enabled = true
    cacheDir = './singularity'
	autoMounts = true
}

profiles {
    hpc_slurm {
        includeConfig 'config/slurm.config'
    }
    hpc_lsf {
        includeConfig 'config/lsf.config'
    }
}

process {
	withName:TRNASCAN {
		container = 'https://depot.galaxyproject.org/singularity/trnascan-se%3A2.0.9--pl5321hec16e2b_3'
		cpus = 3
		memory = '10GB'
	}
	withName:CMSEARCH {
		container = 'https://depot.galaxyproject.org/singularity/infernal%3A1.1.4--pl5321hec16e2b_1'
		cpus = 2
		memory = '5GB'
	}
}
