/* 
See the NOTICE file distributed with this work for additional information
regarding copyright ownership.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ENSEMBL REPEAT PIPELINE CONFIGURATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
This is the main configuration file for the Ensembl Repeat pipeline. It includes base configurations for resources,
error handling, and reporting, as well as specific parameters for running various repeat analyses such as RepeatModeler and RepeatMasker.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
*/
nextflow.enable.dsl=2
// Global default params, used in configs
includeConfig '../../nextflow.config'

plugins {
    id 'nf-schema@2.2.0'
    id 'nf-validation@1.1.3'
}

params {
//input options
  help = false
  csvFile = null
  repeatmodeler_output = null
  repeatmasker_output = null
  cacheDir = "${params.outdir}/cache"
  files_latency = 60
  cleanCache = false
  generate_lib = false
  run_repeatmasker = false
  run_red = false
  run_dust = false
  run_trf = false

  ncbiBaseUrl = "https://api.ncbi.nlm.nih.gov/datasets/v2alpha/genome/accession/"
  repeats_ftp_base = "http://ftp.ebi.ac.uk/pub/databases/ensembl/repeats/unfiltered_repeatmodeler/species/" 

  cleanCache = false //Default to false
  repeatmasker_path='/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/RepeatMasker'
  builddatabase_path='/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/BuildDatabase'
  engine_repeatmasker = 'rmblast'
  engine_repeatmodeler = 'ncbi'
  red_path = '/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/Red'
  dust_path = '/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/dustmasker'
  trf_path = '/hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/linuxbrew/bin/trf'
  trf_match_score = 2
  trf_mismatch_score = 5
  trf_delta = 7
  trf_pm = 80
  trf_pi = 10
  trf_minscore = 40
  trf_maxperiod = 500
  singularityCacheDir = "${params.cacheDir}/singularity"
}

singularity {
  cacheDir = params.singularityCacheDir
  enabled = true
  autoMounts = true
  pullTimeout = '2 hour'
}

profiles {

  standard {
    executor {
      name = 'slurm'
      queueSize = 2000
      submitRateLimit = "10/1sec"
      queueGlobalStatus = true
      exitReadTimeout = "30 min"
    }

    process {
      clusterOptions = '-t 7:00:00 -e errlog.txt'
    }
  }
}

process {
  errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'terminate' }
  maxRetries = 3
  cache = 'lenient'

  withLabel: 'default' {
    cpus = 1
    memory = { 3.GB * task.attempt }
    time = { 1.h * task.attempt }
    afterScript = { "sleep 60" }
  }

  withLabel: 'fetch_file' {
    cpus = 4
    memory = { 100.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

  withLabel: 'repeatmodeler' {
    cpus = 30
    memory = { 64.GB * task.attempt }
    time = { 4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = 'dfam/tetools'

  }

  withLabel: 'run_repeatmasker' {
    cpus = 10
    memory = {32.GB * task.attempt }
    time = {4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = 'doejgi/repeatmasker:4.1.2.fixed.trf'
  }

  withLabel: 'python' {
    maxForks = 70
    memory = { 50.GB * task.attempt }
    time = { 4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = 'ftricomi/ensembl-anno'
    containerOptions = '--bind /hps/software/users/ensembl/ensw/C8-MAR21-sandybridge/:/opt/,/hps/software/users/ensembl/genebuild/shared/libnsl'
    //env.LD_LIBRARY_PATH = '/hps/software/users/ensembl/genebuild/shared/libnsl/lib:/hps/software/users/ensembl/genebuild/shared/libnsl/libtirpc:/hps/software/users/ensembl/genebuild/shared/libnsl/lib:/hps/software/users/ensembl/genebuild/shared/libnsl/libtirpc:/hps/software/users/ensembl/genebuild/shared/libnsl/lib:/hps/software/users/ensembl/genebuild/shared/libnsl/libtirpc'
  }
  
  withLabel: 'ensembl_ftp' {
    memory = { 4.GB * task.attempt }
    time = { 1.h * task.attempt }
    clusterOptions = '--partition=datamover'
  }
}
