params {
    outdir             = './results'
    gff_csv            = null   // path to the CSV of gffs
    feature_levels     = null
    agat_sif           = 'docker://quay.io/biocontainers/agat:1.4.2--pl5321hdfd78af_0'
    ensembl_genes_repo = null  // path to local checkout of ensembl-genes
    agat_parser        = null  // optional explicit path to parse_agat.py; otherwise derived from ensembl_genes_repo
    run_agat_metrics   = true
}

process {

    withName: AGAT_RUN_STATS {
        cpus = 1
        memory = { 16.GB * task.attempt }
        time = { 4.h * task.attempt }
        maxForks = 8
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: AGAT_PARSE {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
        maxForks = 8
    }
}
