wave {
    enabled = true
    strategy = 'conda,container'
}

docker.enabled = false
singularity.enabled = false

params {
    outdir = './chm13_annotation_release_results'
    assembly_name = 'assembly'
}

process {
    withName: ANNOTATION_INTEGRATE {
        cpus = 1
        memory = '4.GB'
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }

    local {
        process {
            executor = 'local'
            maxForks = 2
        }
        docker.enabled = false
        conda.enabled = false
        wave.enabled = false
        params.run_external_validation = false
    }

    stub {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
        }
        wave.enabled = false
        docker.enabled = false
        params.run_external_validation = false
    }
}
