manifest {
    name        = 'GenMap Mappability Pipeline'
    description = 'Calculate reference-genome mappability with GenMap.'
    version     = '0.1.0'
    nextflowVersion = '!>=26.04'
}

params {
    species    = null
    release    = 'current'
    reference_url = null
    reference  = null
    kmer       = 28
    mismatches = 0
    index_args = ''
    outdir     = 'results'
}

process {
    withName: 'FETCH_REFERENCE' {
        cpus = 2
        memory = 8.GB
        time = 2.h
    }
    withName: 'USE_LOCAL_REFERENCE' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }
    withName: 'GENMAP_INDEX' {
        ext.args = params.index_args
        ext.prefix = 'genmap_index'
        publishDir = [path: "${params.outdir}/index", mode: 'copy']
    }
    withName: 'GENMAP_MAP' {
        ext.args = "-K ${params.kmer} -E ${params.mismatches} -w -t -bg -d"
        ext.prefix = 'mappability'
        publishDir = [path: "${params.outdir}/mappability", mode: 'copy']
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}

wave {
    enabled = true
    strategy = 'conda,container'
}
