/*
* This configuration file is main one. This includes the pipeline parameters and different config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
*
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"
conda.enabled = true
workDir = "./work"
scratch = "./"

process {
    maxForks = 10
    withName: 'MIRMACHINE' {
        cpus = 24
        memory = '15GB'
    }

    withName: 'MATCH_CLADE'{
        maxForks = 10
        container = "oras://community.wave.seqera.io/library/python_pip_ete3_legacy-cgi_pruned:845dc3b4e7503e10"
    }

	withLabel: 'mirMachine' {
		container = "/nfs/production/flicek/ensembl/genebuild/jackt/projects/mirMachine/2025/mirmachine_0_2_13.sif"
		containerOptions = '--bind /hps/software/users/ensembl/ensw/swenv/spack/opt/spack:/hps/software/users/ensembl/ensw/swenv/spack/opt/spack'
	}
}

// indicates where to write the singularity images if you choose to use this container
singularity {
    enabled = true
    cacheDir = './singularity'
    automounts = true
    process {
        container = "${projectDir}/data"
        shell = ['/bin/sh', '-c']
    }
}

// define different profiles
profiles {
    standard {
        includeConfig 'conf/standard.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
        singularity {
            envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITY_CONTAINALL,SINGULARITY_NOHOME'
        }
    }
}
