/*
* This configuration file is main one. This includes the pipeline parameters and different config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
*
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"
conda.enabled = true
workDir = "./work"
scratch = "./"

process {
    withName: 'MIRMACHINE' {
        cpus = 4
        memory = '15GB'
    }
	withLabel: 'mirMachine' {
		container = "${projectDir}/mirmachine%3a0.2.13--pyhdfd78af_0"
		containerOptions = '--bind /hps/software/users/ensembl/ensw/swenv/spack/opt/spack:/hps/software/users/ensembl/ensw/swenv/spack/opt/spack'
	}
}

// indicates where to write the singularity images if you choose to use this container
singularity {
    enabled = true
    cacheDir = './singularity'
    automounts = true    
    process {                                
        container = "${projectDir}/data"
        shell = ['/bin/sh', '-c']
    }                       
}                           
                            
// define different profiles                    
profiles {                                      
    standard {                                  
        includeConfig 'conf/standard.config'
    }                                    
    slurm {                              
        includeConfig 'conf/slurm.config'
        singularity {                  
            envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITY_CONTAINALL,SINGULARITY_NOHOME'
        }                              
    }                                  
}
