// Include base configuration from repository root
includeConfig '../../nextflow.config'

// Plugin configuration
plugins {
    id 'nf-schema@2.2.0'
}

// Pipeline-specific manifest overrides
manifest {
    name            = 'translon-consensus'
    description     = 'Pipeline for consensus analysis of translation sites from multiple tools'
    version         = '0.1.0'
}

// Pipeline-specific parameters
params {
    // Required inputs - must be provided by user
    bed_results_dir = null
    gencode_gtf = null  // Optional: path to gencode GTF for annotation (can be .gz)
    gencode_fasta = null
    gencode_fasta_fai = null
    build_canonical_db = true
    ftp_dir = null
    ucsc_session_url = 'https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg38&hgsid=411288699_5AkeEgHzi5YMAqKQsg638QIlALju'
}

// Execution profiles
profiles {
    slurm {
        process {
            executor = 'slurm'
        }
    }

    singularity {
        singularity {
            enabled = true
            cacheDir = '/hps/nobackup/flicek/ensembl/genebuild/singularity_cache'
        }
    }
}

process{
    withName: 'GENERATE_HTML_REPORT' {
        errorStrategy = { task.exitStatus in [137,140] ? 'retry' : 'ignore' }
        maxRetries = 6
        time = '8.h'
        memory = { 50.GB * task.attempt }
    }
}
