nextflow.enable.strict = true

plugins {
    id 'nf-schema@2.2.0'
}

params {
    input  = "${projectDir}/assets/input.txt"
    outdir = './results'
}

profiles {
    test {
        process.executor = 'local'
        params.input = "${projectDir}/assets/input.txt"
        params.outdir = './results/test'
    }
}
