includeConfig '../../nextflow.config'

plugins {
    id 'nf-schema@2.2.0'
}

params {
    manifest = null
    taxon_id = null
    tree = false
    discovery_probe = true
    target_sample_count = 8
    soft_download_budget = 250.0
    soft_raw_subread_budget = 1
    discovery_cache_dir = null
    approved_manifest = null
    metadata_json = null
    metadata_cache_dir = null
    fastq_cache_dir = null
    reference_fasta = null
    reference_fai = null
    minimap_index = null
    cohort_id = 'bos_indicus_long_read'
    outdir = './long_read_tama_results'
    minimap2_preset = 'splice:hq'
    secondary_mode = 'no'
    samtools_sort_memory = '2G'
    tama_container = null
    tama_cap_mode = 'no_cap'
    tama_end_mode = 'common_ends'
    tama_run_mode = 'low_mem'
    ccs_container = null
    ccs_command = 'ccs'
    ccs_args = ''
    ccs_expected_version = null
    shard_mode = 'none'
}

process {
    withName: 'DISCOVER_LONG_READ_DATA' {
        publishDir = "${params.outdir}/discovery"
    }
    withName: 'VALIDATE_LONG_READ_MANIFEST|VALIDATE_APPROVED_LONG_READ_MANIFEST|PREPARE_LONG_READ_INPUT|VALIDATE_LONG_READ_MODELS' {
        publishDir = "${params.outdir}/reports"
    }
    withName: 'INSPECT_LONG_READ_MANIFEST|CANONICALISE_PACBIO_READS' {
        publishDir = "${params.outdir}/reports"
    }
    withName: 'ACQUIRE_LONG_READ_BAM' {
        publishDir = "${params.outdir}/bam"
    }
    withName: 'FASTQ_DL' {
        maxForks = 10
        publishDir = "${params.outdir}/fastq"
    }
    withName: 'BUILD_MINIMAP2_INDEX' {
        publishDir = "${params.outdir}/reference"
    }
    withName: 'MINIMAP2_TO_SORTED_BAM' {
        publishDir = "${params.outdir}/alignments"
    }
    withName: 'TAMA_COLLAPSE' {
        publishDir = "${params.outdir}/collapse"
    }
    withName: 'TAMA_MERGE' {
        publishDir = "${params.outdir}/merge"
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
    local {
        process.executor = 'local'
        process.maxForks = 2
        singularity.enabled = false
        docker.enabled = false
        conda.enabled = false
        wave.enabled = false
    }
    stub {
        process.executor = 'local'
        process.errorStrategy = 'terminate'
        process.resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
        process {
            withName: '.*' {
                container = null
                conda = null
            }
        }
        singularity.enabled = false
        docker.enabled = false
        conda.enabled = false
        wave.enabled = false
    }
}
