alabaster @ file:///dev/shm/ensw/spack-build/spack-stage-py-alabaster-0.7.12-rtsxily5gxmvzzp7zf4y3ovql7bvb4qm/spack-src
amqp @ file:///dev/shm/ensw/spack-build/spack-stage-py-amqp-5.0.9-vpio33dxu5ocwesucoysnlyte5d2ftdj/spack-src
anyio @ file:///dev/shm/ensw/spack-build/spack-stage-py-anyio-3.6.1-vyg5zd6xgdo66vwxmwttq2c7lmq32n4u/spack-src
apache-libcloud @ file:///dev/shm/ensw/spack-build/spack-stage-py-apache-libcloud-3.7.0-ynkt2erabwy4stwu5i57wtzqxiaxqrjn/spack-src
apispec @ file:///dev/shm/ensw/spack-build/spack-stage-py-apispec-6.0.2-zr3pce3txcifqngtps5wezie3wim5bus/spack-src
appdirs @ file:///dev/shm/ensw/spack-build/spack-stage-py-appdirs-1.4.4-75ukl5rq2cctl2ov47stshzzm4w47b6l/spack-src
argcomplete @ file:///dev/shm/ensw/spack-build/spack-stage-py-argcomplete-2.0.0-pxtoupxdddu26deown2czyprbuj4ui7f/spack-src
argh @ file:///dev/shm/ensw/spack-build/spack-stage-py-argh-0.26.2-wayi44aoo6hoolwklzds7r3g5gezpnat/spack-src
argon2-cffi @ file:///dev/shm/ensw/spack-build/spack-stage-py-argon2-cffi-21.3.0-wsj5mwrsrb2i4257m65hsjjacmosodcx/spack-src
argon2-cffi-bindings @ file:///dev/shm/ensw/spack-build/spack-stage-py-argon2-cffi-bindings-21.2.0-ccbw62j3ih6nl6qsu3tzypqtzddkc2bi/spack-src
asgiref @ file:///dev/shm/ensw/spack-build/spack-stage-py-asgiref-3.5.2-abu2pzbppqg2n3v5bsoggla7mmvzngwj/spack-src
astroid @ file:///dev/shm/ensw/spack-build/spack-stage-py-astroid-2.14.2-tocbj3xrpf4tualcjknvqixc4gqydi6t/spack-src
asttokens @ file:///dev/shm/ensw/spack-build/spack-stage-py-asttokens-2.0.8-fhlgwudyis6szeli66voe657bieubq5m/spack-src
atomicwrites @ file:///dev/shm/ensw/spack-build/spack-stage-py-atomicwrites-1.4.1-bkmnvnkwe6kyejzao43rqcnkppxgtvpl/spack-src
attrs @ file:///dev/shm/ensw/spack-build/spack-stage-py-attrs-22.2.0-uwm7my5du7zvo2ofdh3t4ylp4gzbunls/spack-src
Babel @ file:///dev/shm/ensw/spack-build/spack-stage-py-babel-2.10.3-xs3pr5bv2ro2cbemmdyfu6js35gapbfn/spack-src
backcall @ file:///dev/shm/ensw/spack-build/spack-stage-py-backcall-0.2.0-if3huhbjnwsjicdcc2gqgivf6zbrzf32/spack-src
bcbio-gff @ file:///dev/shm/ensw/spack-build/spack-stage-py-bcbio-gff-0.6.6-qr657h6xe6kdcxab6rzzogbccwbsimbe/spack-src
beautifulsoup4 @ file:///dev/shm/ensw/spack-build/spack-stage-py-beautifulsoup4-4.11.1-hpg7bnzmbnefqi6aoluikxxlcg5c7x2k/spack-src
billiard @ file:///dev/shm/ensw/spack-build/spack-stage-py-billiard-3.6.4.0-e2wfvszki57cr5oeavl36mcysja4p5w5/spack-src
biopython @ file:///dev/shm/ensw/spack-build/spack-stage-py-biopython-1.81-4esidgznfrpjtv6z6u4ewtzrgnq7dhkb/spack-src
black @ file:///dev/shm/ensw/spack-build/spack-stage-py-black-23.3.0-quxajelfphocltk7kz6euawxvt7c2g6b/spack-src
bleach @ file:///dev/shm/ensw/spack-build/spack-stage-py-bleach-5.0.1-qudl47xhkjnd7geb3ymtzkriz27b5h73/spack-src
Bottleneck==1.4.2
build @ file:///dev/shm/ensw/spack-build/spack-stage-py-build-0.10.0-wwvjhjxq4tmnx7kcmdl3dvdwkcmfl2uz/spack-src
certifi @ file:///dev/shm/ensw/spack-build/spack-stage-py-certifi-2022.12.7-ugreodzefbvimujslemilocukyk5qvl3/spack-src
cffi @ file:///dev/shm/ensw/spack-build/spack-stage-py-cffi-1.15.1-7iytfhbd3ax3zc7mq7mox4ywd6cbq35n/spack-src
chardet @ file:///dev/shm/ensw/spack-build/spack-stage-py-chardet-5.0.0-6uzgi5y4x7nptpwcpv6s5zxhcglacsnx/spack-src
charset-normalizer @ file:///dev/shm/ensw/spack-build/spack-stage-py-charset-normalizer-2.0.12-tqgiivyvja2h233tz43fjhy6bktvht67/spack-src
cigar==0.1.3
click @ file:///dev/shm/ensw/spack-build/spack-stage-py-click-8.1.3-gd6jp57bxmsbz4osigo3k3p2oqcbjjdk/spack-src
click-didyoumean @ file:///dev/shm/ensw/spack-build/spack-stage-py-click-didyoumean-0.3.0-zrjke7gxqztqb2talyiohpx3rko2na5a/spack-src
click-plugins @ file:///dev/shm/ensw/spack-build/spack-stage-py-click-plugins-1.1.1-ssumhlkefvcoakw57ow7io5fjmpjn54i/spack-src
click-repl @ file:///dev/shm/ensw/spack-build/spack-stage-py-click-repl-0.2.0-rpfg2vlpjboyxbt2stafb7uvsam5hof4/spack-src
colorama @ file:///dev/shm/ensw/spack-build/spack-stage-py-colorama-0.4.5-kbotnlmldkj55l5xgloedz4dobjd4dby/spack-src
comm @ file:///dev/shm/ensw/spack-build/spack-stage-py-comm-0.1.3-srptczb6f22aqk2opbiv5lupbrekgnjf/spack-src
commonmark @ file:///dev/shm/ensw/spack-build/spack-stage-py-commonmark-0.9.1-bmvfapshxvhtdfjnsabfcejzwb7qcmre/spack-src
configparser @ file:///dev/shm/ensw/spack-build/spack-stage-py-configparser-5.2.0-5watfcq43bg5epyoeprdnx7btxnvx5im/spack-src
contourpy @ file:///dev/shm/ensw/spack-build/spack-stage-py-contourpy-1.0.5-zn2ais2voabh6bosdp6vpy6lvikm5hfh/spack-src
cppy @ file:///dev/shm/ensw/spack-build/spack-stage-py-cppy-1.2.1-iniekak44ngclx4y6a7l6nmisstmwa2d/spack-src
cryptography @ file:///dev/shm/ensw/spack-build/spack-stage-py-cryptography-38.0.1-w4hqxotx7e3zts3iiqb527byhtvbs6pf/spack-src
cycler @ file:///dev/shm/ensw/spack-build/spack-stage-py-cycler-0.11.0-duv2rne67lo6ve2gyfyofe6t6mncyz2s/spack-src
Cython @ file:///dev/shm/ensw/spack-build/spack-stage-py-cython-0.29.33-p6elqtrmwsy7r6odzbxq5wt6zjarhnmv/spack-src
dateutils @ file:///dev/shm/ensw/spack-build/spack-stage-py-dateutils-0.6.12-7pfs4a2f5edtzv3avo47ulcqorr53iga/spack-src
debugpy @ file:///dev/shm/ensw/spack-build/spack-stage-py-debugpy-1.6.6-dpynboioqsby6c3tyzgx3knu2fjcgqok/spack-src
decorator @ file:///dev/shm/ensw/spack-build/spack-stage-py-decorator-5.1.1-32zfimerb4xwxah6nlqlcjfrwn57e4dg/spack-src
defusedxml @ file:///dev/shm/ensw/spack-build/spack-stage-py-defusedxml-0.7.1-hgdwe6d2cxl2n62xb5qgdixkzof3ats7/spack-src
deprecation @ file:///dev/shm/ensw/spack-build/spack-stage-py-deprecation-2.1.0-2corpjgpivltwqeogbwfdqdl4zkelo75/spack-src
dill @ file:///dev/shm/ensw/spack-build/spack-stage-py-dill-0.3.6-vz6gkyw6oy6ivxyofb53abfwitg3dv4t/spack-src
Django @ file:///dev/shm/ensw/spack-build/spack-stage-py-django-3.2.19-oy2fuplxsufsda5nq6svzs52yelyfduf/spack-src
dnspython @ file:///dev/shm/ensw/spack-build/spack-stage-py-dnspython-2.3.0-nwv6j2sqkzn6so3jchkihy3v55vspbdh/spack-src
docutils @ file:///dev/shm/ensw/spack-build/spack-stage-py-docutils-0.17.1-7au54rah7fg4373lbsjims7zz5sqf2wz/spack-src
dominate @ file:///dev/shm/ensw/spack-build/spack-stage-py-dominate-2.6.0-fzzs3q5zf2wikyflsa5dsfifd6ofacce/spack-src
doxypypy @ file:///dev/shm/ensw/spack-build/spack-stage-py-doxypypy-0.8.8.6-lda4umtiof2sbfjfjnzqcfqzl7kx62mz/spack-src
duckdb==1.5.4
elastic-transport @ file:///dev/shm/ensw/spack-build/spack-stage-py-elastic-transport-8.4.0-3wjq7qbmrr7om7d2kja6ancmsqxaype6/spack-src
elasticsearch @ file:///dev/shm/ensw/spack-build/spack-stage-py-elasticsearch-8.6.2-5d7jtrhtqcub5epedbamgazgyzc62pou/spack-src
email-validator @ file:///dev/shm/ensw/spack-build/spack-stage-py-email-validator-1.3.1-5ahxz3punj2luvszzsbsga23h7vyvnzy/spack-src
entrypoints @ file:///dev/shm/ensw/spack-build/spack-stage-py-entrypoints-0.4-mbnlpftweur3wj7v5ms7aqjsgyn4wmyt/spack-src
ete3==3.1.3
exceptiongroup @ file:///dev/shm/ensw/spack-build/spack-stage-py-exceptiongroup-1.1.1-gwh6zyhyvwelqjvcbkuze6noangnxch7/spack-src
executing @ file:///dev/shm/ensw/spack-build/spack-stage-py-executing-1.1.0-4trjjjkf5szacqetodpuqjendsudcdjk/spack-src
fastjsonschema @ file:///dev/shm/ensw/spack-build/spack-stage-py-fastjsonschema-2.16.3-bfjv6va5hxuqj5owdl7hrv23ci6qdunc/spack-src
Flask @ file:///dev/shm/ensw/spack-build/spack-stage-py-flask-2.2.2-yqcdmqksvmkxdtfjjlnxlh3t27ovv7ng/spack-src
Flask-Cors @ file:///dev/shm/ensw/spack-build/spack-stage-py-flask-cors-3.0.10-gwvzxzqxljthiaclxlu2pehp5womvjfw/spack-src
flit_core @ file:///dev/shm/ensw/spack-build/spack-stage-py-flit-core-3.7.1-rzklv77ktg37n5ceo2ozuetwq4ekzbz4/spack-src
fonttools @ file:///dev/shm/ensw/spack-build/spack-stage-py-fonttools-4.37.3-ubtgrobqcprqcsvcx4gf3tsoco35jsvk/spack-src
future @ file:///dev/shm/ensw/spack-build/spack-stage-py-future-0.18.2-6cabjyqj6numm3oorcrynipldx53abcb/spack-src
gevent @ file:///dev/shm/ensw/spack-build/spack-stage-py-gevent-1.5.0-3gf4ysubfsnoxlhw4npfmx54cxn4hwbc/spack-src
gffpandas @ file:///dev/shm/ensw/spack-build/spack-stage-py-gffpandas-1.2.0-dpowul7jvliwmehmw7sr6xhduxtlffkr/spack-src
gffutils @ file:///dev/shm/ensw/spack-build/spack-stage-py-gffutils-0.11.1-z6cjovqnqftf5e67hkd4cxnlewo2y4g2/spack-src
greenlet @ file:///dev/shm/ensw/spack-build/spack-stage-py-greenlet-2.0.2-my3gjjl34sdaru7glh5ydkcgfrfxbatn/spack-src
gunicorn @ file:///dev/shm/ensw/spack-build/spack-stage-py-gunicorn-20.1.0-gzc74lkecb3ljqirnaqbdtk2lriatjvx/spack-src
h11 @ file:///dev/shm/ensw/spack-build/spack-stage-py-h11-0.13.0-tyzmb3rl3dl43iksoiyezfeexxxrmwsq/spack-src
httptools @ file:///dev/shm/ensw/spack-build/spack-stage-py-httptools-0.5.0-rzvtm4ry3yhvds23q33cnjouo5qkwt6n/spack-src
idna @ file:///dev/shm/ensw/spack-build/spack-stage-py-idna-3.4-o6brqne7juf3kaiqiir4l3xlebybx5i6/spack-src
imagesize @ file:///dev/shm/ensw/spack-build/spack-stage-py-imagesize-1.4.1-p5ffw7dmpxueae6lnyavgiy4gsxsk6oa/spack-src
importlib-metadata @ file:///dev/shm/ensw/spack-build/spack-stage-py-importlib-metadata-6.6.0-qaoik7tmch5je5a4mtatqatcnds4ded7/spack-src
importlib-resources @ file:///dev/shm/ensw/spack-build/spack-stage-py-importlib-resources-5.12.0-ahjuwjd73umo424paznphcwamlhtb7na/spack-src
iniconfig @ file:///dev/shm/ensw/spack-build/spack-stage-py-iniconfig-2.0.0-zi2llodkkgtqpjj5htdvjck5o2vjjsyi/spack-src
interlap @ file:///dev/shm/ensw/spack-build/spack-stage-py-interlap-0.2.7-bwij5slf2gvq6e46q4q5ulhe5xlxs3vc/spack-src
intervaltree==3.2.1
ipykernel @ file:///dev/shm/ensw/spack-build/spack-stage-py-ipykernel-6.22.0-gaa5w33qgg5x2vunwvagtiogzanlauuk/spack-src
ipython @ file:///dev/shm/ensw/spack-build/spack-stage-py-ipython-8.11.0-tbirwsqk6yij2pvkbklfpo6i4wwqiupe/spack-src
ipython-genutils @ file:///dev/shm/ensw/spack-build/spack-stage-py-ipython-genutils-0.2.0-otxfljcl75emwdc7eetstky2p5wcf6k2/spack-src
isort @ file:///dev/shm/ensw/spack-build/spack-stage-py-isort-5.10.1-nxdhwa2xzhrtxfr7ridlxnnrtke5i3ms/spack-src
itsdangerous @ file:///dev/shm/ensw/spack-build/spack-stage-py-itsdangerous-2.1.2-ghjeove6kgzcinds5pbryvmuxod5vcpy/spack-src
jedi @ file:///dev/shm/ensw/spack-build/spack-stage-py-jedi-0.18.1-bbuknfvempk77hno2dchjljzaxmvy3gi/spack-src
Jinja2 @ file:///dev/shm/ensw/spack-build/spack-stage-py-jinja2-3.1.2-m56bdflmlohxtxtllgxxbds24hziqlop/spack-src
joblib @ file:///dev/shm/ensw/spack-build/spack-stage-py-joblib-1.2.0-6f7djknns2f3efsiroempwdmi7mbjzdd/spack-src
json5 @ file:///dev/shm/ensw/spack-build/spack-stage-py-json5-0.9.10-bbpsrnn2mqro5ltpkjhnwya4lqbf63hg/spack-src
jsonschema @ file:///dev/shm/ensw/spack-build/spack-stage-py-jsonschema-4.17.3-b4haq53nn7n4rrnl3rd2336nctd7cd6g/spack-src
jupyter-server @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyter-server-1.21.0-6u5pod4m2bjuhssmrvzvrz3rvckdigwt/spack-src
jupyter_client @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyter-client-8.1.0-577k4voztlhl72jclf5pp4kjllgvhiyz/spack-src
jupyter_core @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyter-core-5.3.0-rlv5dcp6chdjbh3k7oqycpcd6ildzyfg/spack-src
jupyterlab @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyterlab-3.4.8-kbp3iu4em5q4izffvcspnhfqimznep7a/spack-src
jupyterlab-pygments @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyterlab-pygments-0.2.2-772exjtfxuv6kb2nfyxk2t3sn42tcpuj/spack-src/jupyterlab_pygments-0.2.2-py2.py3-none-any.whl
jupyterlab-server @ file:///dev/shm/ensw/spack-build/spack-stage-py-jupyterlab-server-2.10.3-stx5kxcdz3ozv3euuhp5f3at3qqcbrct/spack-src
kiwisolver @ file:///dev/shm/ensw/spack-build/spack-stage-py-kiwisolver-1.4.4-gn22recqvxdkgyzbtioelngljj6eu66z/spack-src
kombu @ file:///dev/shm/ensw/spack-build/spack-stage-py-kombu-5.2.3-6ply37bmlokq2n6uvzl4ey6x5fiikorb/spack-src
lazy-object-proxy @ file:///dev/shm/ensw/spack-build/spack-stage-py-lazy-object-proxy-1.7.1-3ctmnv5cw5rhdvsredqh2ncj47rtmcpq/spack-src
Liftoff @ file:///dev/shm/ensw/spack-build/spack-stage-py-liftoff-1.6.3.2-anaet7rhoh26xzhfliqv7xblat7xisdg/spack-src
LiftoffTools @ file:///dev/shm/ensw/spack-build/spack-stage-py-liftofftools-0.4.4-czjfatk6ewgl5tj4j5hl7u6i6emzblea/spack-src
lifton==1.0.9
lockfile @ file:///dev/shm/ensw/spack-build/spack-stage-py-lockfile-0.12.2-py4fywz56fh3ucfw6sb27y7e3rtvhx6o/spack-src
luigi @ file:///dev/shm/ensw/spack-build/spack-stage-py-luigi-3.2.0-iltwla36hhu44mw3wu6fcwlyrg6nfpvr/spack-src
lxml @ file:///dev/shm/ensw/spack-build/spack-stage-py-lxml-4.9.1-lboseodsqlccqaqklgymodwonzzg73pd/spack-src
mappy @ file:///dev/shm/ensw/spack-build/spack-stage-minimap2-2.26-kptgh5nic6xbwhkcg3eyl7vs56yipoox/spack-src
MarkupSafe @ file:///dev/shm/ensw/spack-build/spack-stage-py-markupsafe-2.1.2-4pe5mkzuei4fss2o37hw3v5w2fcbitdj/spack-src
marshmallow @ file:///dev/shm/ensw/spack-build/spack-stage-py-marshmallow-3.15.0-qde542ivzkzy527og2iqq4qq4cgkpifc/spack-src
matplotlib @ file:///dev/shm/ensw/spack-build/spack-stage-py-matplotlib-3.7.1-nfnr2ueh33h2pf2s23uehonj5yb7nvjd/spack-src
matplotlib-inline @ file:///dev/shm/ensw/spack-build/spack-stage-py-matplotlib-inline-0.1.6-g3xlkn7xeks75p6cvqmy556kvtndfmmx/spack-src
mccabe @ file:///dev/shm/ensw/spack-build/spack-stage-py-mccabe-0.7.0-zwyymt35stfts6evfc674yymnpcmovbx/spack-src
mistune @ file:///dev/shm/ensw/spack-build/spack-stage-py-mistune-2.0.5-2kfzicuqzhjjtel4jbvau7bb2p7obmdz/spack-src
mock @ file:///dev/shm/ensw/spack-build/spack-stage-py-mock-4.0.3-ddknudivx7uzcrrwxbjw7pjexiwevgdu/spack-src
more-itertools @ file:///dev/shm/ensw/spack-build/spack-stage-py-more-itertools-8.14.0-6ppncrdu7lke2vhdmrqpinl65zb2adlq/spack-src
msgpack @ file:///dev/shm/ensw/spack-build/spack-stage-py-msgpack-1.0.4-bphnffmcqulo7y7kmuyr6bqudmedocyd/spack-src
mypy @ file:///dev/shm/ensw/spack-build/spack-stage-py-mypy-1.2.0-4we46pnopqmusspfrksj6fzmiudabdhg/spack-src
mypy-extensions @ file:///dev/shm/ensw/spack-build/spack-stage-py-mypy-extensions-1.0.0-exwoxswkmy3fx6tp2uojmdocwexdfkth/spack-src
mysql-connector-python @ file:///dev/shm/ensw/spack-build/spack-stage-py-mysql-connector-python-8.0.33-hkf2zrsowegkbnlip34wvaboy7kofgia/spack-src
mysqlclient @ file:///run/shm/ensw/spack-build/spack-stage-py-mysqlclient-1.4.6-s2ekh7vzhsk52dq7gwwgdqtsfz57ck5x/spack-src
nbclassic @ file:///dev/shm/ensw/spack-build/spack-stage-py-nbclassic-0.4.8-4dqshfe3q5hpux4gzp2sdxsn36toq3yz/spack-src
nbclient @ file:///dev/shm/ensw/spack-build/spack-stage-py-nbclient-0.7.2-assolq24mtslgjt7bd2hw2gcjswxpasw/spack-src
nbconvert @ file:///dev/shm/ensw/spack-build/spack-stage-py-nbconvert-7.0.0-ielmqn6dj4fobgtx57agcypqmu7quwtw/spack-src
nbformat @ file:///dev/shm/ensw/spack-build/spack-stage-py-nbformat-5.8.0-4kouhmdupv5gqrcd6rp3q2ubpxoq33tn/spack-src
nest-asyncio @ file:///dev/shm/ensw/spack-build/spack-stage-py-nest-asyncio-1.5.6-qnrukr3so2rvmfuexjfa3glb3wm37vtx/spack-src
netifaces @ file:///dev/shm/ensw/spack-build/spack-stage-py-netifaces-0.11.0-pg3lpnib56kvyhelgf6hwgg6ezulep5v/spack-src
networkx==3.4.2
nltk @ file:///dev/shm/ensw/spack-build/spack-stage-py-nltk-3.6.7-ni6mdjzqcfrwh224h6ij3qkgh3pmlj7o/spack-src
nodeenv @ file:///dev/shm/ensw/spack-build/spack-stage-py-nodeenv-1.7.0-nmfesi7ypmzquh3ifhv4vyh2upwu53mj/spack-src
notebook @ file:///dev/shm/ensw/spack-build/spack-stage-py-notebook-6.4.12-2wjyj72izwxfvqxcxqs3e4ut4pipstif/spack-src
notebook_shim @ file:///dev/shm/ensw/spack-build/spack-stage-py-notebook-shim-0.2.2-jb2dsjtx3fnn2okwen4vl77xx6sr6x47/spack-src
ntplib @ file:///dev/shm/ensw/spack-build/spack-stage-py-ntplib-0.4.0-2h6dmq73ipk7dod7oexqayd3gytnvf27/spack-src
numexpr==2.10.2
numpy @ file:///dev/shm/ensw/spack-build/spack-stage-py-numpy-1.24.3-qmq32de4wxvloenvcoon2wpzjvugtftl/spack-src
oauthlib @ file:///dev/shm/ensw/spack-build/spack-stage-py-oauthlib-3.2.1-ofh2ojbmuprvt37pf33cnvhypr6efqkj/spack-src
packaging==26.2
pandas==2.2.2
pandocfilters @ file:///dev/shm/ensw/spack-build/spack-stage-py-pandocfilters-1.5.0-hfo7mwiqjw7xw5ctx4hvd7hfga2llbil/spack-src
parasail @ file:///dev/shm/ensw/spack-build/spack-stage-py-parasail-1.3.3-nuskbzkmbrprk23tlnyc2o5sirozalfe/spack-src
parse @ file:///dev/shm/ensw/spack-build/spack-stage-py-parse-1.18.0-7u3p23lohcmnrkkh6nfx5s2eszssenrd/spack-src
parso @ file:///dev/shm/ensw/spack-build/spack-stage-py-parso-0.8.3-a3ye5a2f5lucnmqa7c4msk6e4vkixwsy/spack-src
pathspec @ file:///dev/shm/ensw/spack-build/spack-stage-py-pathspec-0.11.1-ij2gnjkdhepucm2ut7mh5k6dycbk6hny/spack-src
pbr @ file:///dev/shm/ensw/spack-build/spack-stage-py-pbr-5.10.0-pjcztziohsbl2zw27zniea2ivkxzkyjz/spack-src
pexpect @ file:///dev/shm/ensw/spack-build/spack-stage-py-pexpect-4.8.0-2fzmuzlrhjj7w7gwiohukxj44wscgcao/spack-src
pickleshare @ file:///dev/shm/ensw/spack-build/spack-stage-py-pickleshare-0.7.5-eckw55x2z24zyiy3tw36yzjuijzay3hk/spack-src
Pillow @ file:///dev/shm/ensw/spack-build/spack-stage-py-pillow-9.5.0-wboni6crlxp7ntwegm63hrxd6wrsnwcc/spack-src
platformdirs @ file:///dev/shm/ensw/spack-build/spack-stage-py-platformdirs-3.5.0-giutizfnum2brfzbemun6awh7k6gcyql/spack-src
pluggy @ file:///dev/shm/ensw/spack-build/spack-stage-py-pluggy-1.0.0-gt2pivsdwwwgilhmwz6los3h7tyygd6k/spack-src
prometheus-client @ file:///dev/shm/ensw/spack-build/spack-stage-py-prometheus-client-0.14.1-doiywc6ievq54dgdhvksj3f5fzyeip6t/spack-src
prompt-toolkit @ file:///dev/shm/ensw/spack-build/spack-stage-py-prompt-toolkit-3.0.38-idluyogtq23tkqmcmpi4g5ggtfxwhcij/spack-src
protobuf==4.21.9
psutil @ file:///dev/shm/ensw/spack-build/spack-stage-py-psutil-5.9.4-gq7vsqrdr4mmfq5a7o7pkddjwevt23xp/spack-src
psycopg2 @ file:///dev/shm/ensw/spack-build/spack-stage-py-psycopg2-2.9.6-3blp5bfj7aqg3ea6hceavfkeuqggraom/spack-src
ptyprocess @ file:///dev/shm/ensw/spack-build/spack-stage-py-ptyprocess-0.7.0-7tbbk73yytwsnvg5kwdtoe6mikidmjam/spack-src
pure-eval @ file:///dev/shm/ensw/spack-build/spack-stage-py-pure-eval-0.2.2-44eu3nrsmp5diyzgh4j43tlaig5bykpn/spack-src
py @ file:///dev/shm/ensw/spack-build/spack-stage-py-py-1.11.0-7savq44wx474someq2xfulfjjpbtposx/spack-src
pyarrow==24.0.0
pybedtools @ file:///dev/shm/ensw/spack-build/spack-stage-py-pybedtools-0.9.0-nbyvbaq7k2bf7rkwppawxzawir4s3aqq/spack-src
pyBigWig @ file:///dev/shm/ensw/spack-build/spack-stage-py-pybigwig-0.3.12-yvhtbfdadoyp6ry6tdk4skkivvtu7abl/spack-src
pybind11 @ file:///dev/shm/ensw/spack-build/spack-stage-py-pybind11-2.10.1-b65zo7fflea7nukok2rlvdu242ttgc6n/spack-src
pycparser @ file:///dev/shm/ensw/spack-build/spack-stage-py-pycparser-2.21-us5b2nynbmkrfnosn3nhkcz3x2zcjtxg/spack-src
pydantic @ file:///dev/shm/ensw/spack-build/spack-stage-py-pydantic-1.10.2-zlnvgwpcdlokscq6tpcxprqbhbspcyih/spack-src
pyfaidx @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyfaidx-0.5.8-imfyxg47bp5cdlmszckkcgkyav76z2ws/spack-src
Pygments @ file:///dev/shm/ensw/spack-build/spack-stage-py-pygments-2.13.0-sjjwecxha4qj2khbh23i76gg7bbyn6l2/spack-src
PyJWT @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyjwt-2.4.0-hmgzja26uzgq75clhdv6cak6hplprrkx/spack-src
pylint @ file:///dev/shm/ensw/spack-build/spack-stage-py-pylint-2.16.2-mcgtzqmqua5ktd5ws4cz4c5tvfzdruwb/spack-src
pymongo @ file:///dev/shm/ensw/spack-build/spack-stage-py-pymongo-4.2.0-2nmzsfb6ekfgb6meyaapkzilrmbnaluj/spack-src
PyMySQL @ file:///dev/shm/ensw/spack-build/spack-stage-py-pymysql-0.9.3-y3xcmi3rrnz7sjldxgyvmy74nbhsqfke/spack-src
pyparsing @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyparsing-3.0.9-wouo4pibp4hcolrszga7g3jauq7bogkg/spack-src
pyproject_hooks @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyproject-hooks-1.0.0-pu5wmnp2uwe5uxjy5kgrzoymizlrzhqr/spack-src
pyrsistent @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyrsistent-0.19.3-3lmu3ojl3dbyp6z7sgo7nol2upy5fyod/spack-src
pysam @ file:///dev/shm/ensw/spack-build/spack-stage-py-pysam-0.21.0-pyix5gmnbvbbvtyoti3rxjkkvpwn4jb3/spack-src
pytest @ file:///dev/shm/ensw/spack-build/spack-stage-py-pytest-7.3.1-3jypaehuoljehuupuoznhflzob2w52sk/spack-src
python-daemon @ file:///dev/shm/ensw/spack-build/spack-stage-py-python-daemon-2.3.1-g3knusmjqyxeqfvnuajod2fecqgnazl5/spack-src
python-dateutil==2.9.0.post0
python-dotenv @ file:///dev/shm/ensw/spack-build/spack-stage-py-python-dotenv-0.19.2-33aeyc37gljpgg4rfr3xqsu4puqb4psf/spack-src
pytz==2024.1
PyYAML @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyyaml-6.0-qujzggqqpfzykk5hlc53jsq7e6j2e2xe/spack-src
pyzmq @ file:///dev/shm/ensw/spack-build/spack-stage-py-pyzmq-25.0.2-bjtoevoxc44n62xsi2lmxu4gwsxasokd/spack-src
recommonmark @ file:///dev/shm/ensw/spack-build/spack-stage-py-recommonmark-0.6.0-w6szufj6fr5odpsdz6u3ury5uu6p6ikx/spack-src
regex @ file:///dev/shm/ensw/spack-build/spack-stage-py-regex-2022.8.17-ptsi7xh7mq42rndxdzxmry2vaufihvrl/spack-src
requests @ file:///dev/shm/ensw/spack-build/spack-stage-py-requests-2.28.2-b4e2v4builbqdhvcmpvw2qqnp2w7ohff/spack-src
requests-oauthlib @ file:///dev/shm/ensw/spack-build/spack-stage-py-requests-oauthlib-1.3.1-vapxmgvi4tmvnbjbdzuesxwafx4saa2q/spack-src
requests-toolbelt @ file:///dev/shm/ensw/spack-build/spack-stage-py-requests-toolbelt-0.9.1-ordwpzwuvovrtxialds5xv7mxzcipjff/spack-src
ruamel.yaml @ file:///dev/shm/ensw/spack-build/spack-stage-py-ruamel-yaml-0.17.20-szhtksrjhzbptkhuefeifndd7ygvwu6n/spack-src
scipy @ file:///dev/shm/ensw/spack-build/spack-stage-py-scipy-1.10.1-smqn2y3pojdcvxncenkbdzhc56c75jzt/spack-src/dist/scipy-1.10.1-cp310-cp310-linux_x86_64.whl
seaborn==0.13.2
semantic-version @ file:///dev/shm/ensw/spack-build/spack-stage-py-semantic-version-2.10.0-g7nmvjf6urb5zyrpgmzi4k6q3kf7jyoh/spack-src
Send2Trash @ file:///dev/shm/ensw/spack-build/spack-stage-py-send2trash-1.8.0-fkjshuqg223v6ckf2yrzznfyldg6f6sa/spack-src
setproctitle @ file:///dev/shm/ensw/spack-build/spack-stage-py-setproctitle-1.1.10-nxct7n3wclanckdc2qps6472khv5n6v6/spack-src
setuptools-rust @ file:///dev/shm/ensw/spack-build/spack-stage-py-setuptools-rust-1.5.1-g7fzjzjyh64lnm6jixn6t52rm2tlxkui/spack-src
setuptools-scm @ file:///dev/shm/ensw/spack-build/spack-stage-py-setuptools-scm-7.0.5-ojrku7gg4cps5kfxoad6jxrdicdhkyc3/spack-src
shellingham @ file:///dev/shm/ensw/spack-build/spack-stage-py-shellingham-1.5.0-2iulxnohrjdz6d3lcdlcnm4rqm327zlu/spack-src
simplejson @ file:///dev/shm/ensw/spack-build/spack-stage-py-simplejson-3.18.0-26mfahuwslnxdckte46yqi7a43cznkn4/spack-src
six @ file:///dev/shm/ensw/spack-build/spack-stage-py-six-1.16.0-twrjt4ek3qhylwxu4n5gelqitlqyjw6e/spack-src
sniffio @ file:///dev/shm/ensw/spack-build/spack-stage-py-sniffio-1.3.0-qx53azdyqglzqtutx3brctzfewvs6o3b/spack-src
snowballstemmer @ file:///dev/shm/ensw/spack-build/spack-stage-py-snowballstemmer-2.2.0-4hztijawqizdbu2sly3cr26arw4gtpsg/spack-src
sortedcontainers==2.4.0
soupsieve @ file:///dev/shm/ensw/spack-build/spack-stage-py-soupsieve-2.3.2.post1-a426v6mfbiyy5aexgyylnxubk72aafut/spack-src
Sphinx @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinx-5.1.0-kkn67qskfdlvb2u2kzsseehutn4ddow4/spack-src
sphinx-rtd-theme @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinx-rtd-theme-1.0.0-44iq3qbnmlyccuoatrmb3ez7y5ck2jzn/spack-src
sphinxcontrib-applehelp @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-applehelp-1.0.2-m34buiq3bqmivktztyzs6aukisa5mhvg/spack-src
sphinxcontrib-devhelp @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-devhelp-1.0.2-755tqqv63xxgk6blts43y6abr6r42dr2/spack-src
sphinxcontrib-htmlhelp @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-htmlhelp-2.0.0-jf5olqam4kym4l7i3k7i5lz65zqlvvlo/spack-src
sphinxcontrib-jsmath @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-jsmath-1.0.1-iwfixs6jc4h5f6dhqdy6l5353ygtzakf/spack-src
sphinxcontrib-qthelp @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-qthelp-1.0.3-3qlmvqdqwknsp5iqipfzz2abjnzv7kq6/spack-src
sphinxcontrib-serializinghtml @ file:///dev/shm/ensw/spack-build/spack-stage-py-sphinxcontrib-serializinghtml-1.1.5-d6nfruf2pypeh4up5d45ocegnrz4n5ni/spack-src
SQLAlchemy @ file:///run/shm/ensw/spack-build/spack-stage-py-sqlalchemy-1.4.45-my3cygcu57u7dtv54vx5zgwuk6q733h6/spack-src
sqlparse @ file:///dev/shm/ensw/spack-build/spack-stage-py-sqlparse-0.4.1-lgwjhbarrszulss2vx6mlhltn2ktz35b/spack-src
stack-data @ file:///dev/shm/ensw/spack-build/spack-stage-py-stack-data-0.5.0-vuwimq7tkj3qg4mcycjarwe4npznydgj/spack-src
starlette @ file:///dev/shm/ensw/spack-build/spack-stage-py-starlette-0.23.1-efmifrxjqjzhlxhrn6lb3zdqmrab426c/spack-src
tenacity @ file:///dev/shm/ensw/spack-build/spack-stage-py-tenacity-8.2.2-dfqmykm3plzdsehpiumuax4b32f5ztik/spack-src
terminado @ file:///dev/shm/ensw/spack-build/spack-stage-py-terminado-0.15.0-odgs553cwhf6jk23s5qkmihnwfu43hkp/spack-src
tinycss2 @ file:///dev/shm/ensw/spack-build/spack-stage-py-tinycss2-1.1.1-rvreplczfebmarbd5njpjua7gz2jgv4k/spack-src
tkrzw @ file:///dev/shm/ensw/spack-build/spack-stage-py-tkrzw-0.1.32-qsumztjse4dwfgr7ozo4grwr4cig26qc/spack-src
toml @ file:///dev/shm/ensw/spack-build/spack-stage-py-toml-0.10.2-oiqcfd4fa6rt3uzw6qogov55xa72nk5b/spack-src
tomli @ file:///dev/shm/ensw/spack-build/spack-stage-py-tomli-2.0.1-skt3ua5cbuim2kstufp24uz7l44zflke/spack-src
tomlkit @ file:///dev/shm/ensw/spack-build/spack-stage-py-tomlkit-0.11.4-ijv77vhfhupgrwyqwaz7lzs6hmu3h34p/spack-src
tornado @ file:///dev/shm/ensw/spack-build/spack-stage-py-tornado-6.2-usyv4eoi3gnfu533mlwhlujzuyqaqdhy/spack-src
tqdm @ file:///dev/shm/ensw/spack-build/spack-stage-py-tqdm-4.65.0-dx3lwkbdpe6yrqbxqpvgpqdahqtrl2ma/spack-src
traitlets @ file:///dev/shm/ensw/spack-build/spack-stage-py-traitlets-5.9.0-ultvwcve3gdxsgdvujzeo27qvcs3ft32/spack-src
typer @ file:///dev/shm/ensw/spack-build/spack-stage-py-typer-0.9.0-endyichd7y2ldl6l736d7hn2suzuu6rs/spack-src
typing_extensions @ file:///dev/shm/ensw/spack-build/spack-stage-py-typing-extensions-4.5.0-ajwthde5jjilaunsbo6y5hwg5ls2hf4e/spack-src
tzdata==2024.1
ujson @ file:///dev/shm/ensw/spack-build/spack-stage-py-ujson-5.7.0-ytcwy5gguupycybmvxwnre2jfaukt22n/spack-src
uritemplate @ file:///dev/shm/ensw/spack-build/spack-stage-py-uritemplate-4.1.1-452uzqa4egn7dp6b7ydxinxsvyrpmfyy/spack-src
urllib3 @ file:///dev/shm/ensw/spack-build/spack-stage-py-urllib3-1.26.12-fggwrp6sec6anenptftyyjflxmg57mws/spack-src
uvloop @ file:///dev/shm/ensw/spack-build/spack-stage-py-uvloop-0.16.0-kmdxvelpzol5arrn2rljpr52hczkqw5b/spack-src
vine @ file:///dev/shm/ensw/spack-build/spack-stage-py-vine-5.0.0-fk7zf7jof733vu6d6jpiaps23afgp3q3/spack-src
wcwidth @ file:///dev/shm/ensw/spack-build/spack-stage-py-wcwidth-0.2.5-gtexxvgwfss6rg5qzo4jcz3qdhfizcfj/spack-src
webencodings @ file:///dev/shm/ensw/spack-build/spack-stage-py-webencodings-0.5.1-i3tml5bezz2iowp76r7euj6evsyoczzg/spack-src
websocket-client @ file:///dev/shm/ensw/spack-build/spack-stage-py-websocket-client-1.5.1-st2ioziesyv2sr6h4s4jzvpvtg2tvdeq/spack-src
websockets @ file:///dev/shm/ensw/spack-build/spack-stage-py-websockets-10.4-ou75jcxstcjsrc2ucdiuyjatesk75owt/spack-src
Werkzeug @ file:///dev/shm/ensw/spack-build/spack-stage-py-werkzeug-2.2.3-m4hhfcdyicxchwzqofr22covdbo7ec5b/spack-src
wget @ file:///dev/shm/ensw/spack-build/spack-stage-py-wget-3.2-obutnhqptd2rwquhzfqa4o7fn2prfsdy/spack-src
wrapt @ file:///dev/shm/ensw/spack-build/spack-stage-py-wrapt-1.14.1-s2bg4cfnpekv5s7pbp5fzl2km22ha735/spack-src
xmltodict @ file:///dev/shm/ensw/spack-build/spack-stage-py-xmltodict-0.12.0-box6rdu5jh4vl3vvl7x3hyxacf4oplcj/spack-src
yq @ file:///dev/shm/ensw/spack-build/spack-stage-py-yq-2.12.2-3xqtrmcti3gdrvncwcse6iqwa4eaxebm/spack-src
zipp @ file:///dev/shm/ensw/spack-build/spack-stage-py-zipp-3.8.1-xkedgastizlhepmy5pgwgww3l6pjzovi/spack-src
