// Ensembl HPC container settings.
// Apply explicitly with:
//   nextflow run pipelines/example/main.nf -c config/singularity.config

singularity {
    enabled = true
    cacheDir = '/nfs/production/flicek/ensembl/shared_data/singularity_images/cache'
}

docker.enabled = false
conda.enabled = false
