params {
    // FTP destination - override this when running the test
    ftp_destination = '/tmp/ftp_test_destination'

    // Output directory
    outdir = 'results'
}

process {
    // Configure MOVE_TO_FTP process
    withName: 'MOVE_TO_FTP' {
        // Add -r flag if you want recursive copy
        // ext.args = '-r'
    }
}

// Execution profile
profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process {
            executor = 'slurm'

            // Configure queue for MOVE_TO_FTP
            withName: 'MOVE_TO_FTP' {
                queue = 'datamover'
            }
        }
    }
}
