params {
    // FTP destination - override this when running the test
    ftp_destination = '/tmp/ftp_test_destination'

    // Output directory
    outdir = 'results'
}

process {
    executor = 'local'

    withName: 'MOVE_TO_FTP' {
        // Add -r flag if you want recursive copy
        // ext.args = '-r'
    }
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            time = '1.h'
            memory = '5.GB'

            withName: 'MOVE_TO_FTP' {
                queue = 'datamover'
            }
        }
    }
}
