// Inherit base configuration (resources, error handling, reporting)
includeConfig '../../nextflow.config'

plugins {
    id 'nf-schema@2.2.0'
}

params {
    outdir               = './results' // is this already set in the base config?
    input_csv            = null   // path to the CSV of gffs
    ensembl_genes_repo   = null  // path to local checkout of ensembl-genes
    server_settings      = null  // path to server settings json
}

process {

    withName: LOAD_REFSEQ {
        cpus = 1
        memory = { 10.GB * task.attempt }
        time = { 4.h * task.attempt }
        maxForks = 8
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: FETCH_REFSEQ {
        maxForks = 4
    }
}
