/* 
See the NOTICE file distributed with this work for additional information
regarding copyright ownership.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ENSEMBL STATISTICS PIPELINE CONFIGURATION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
This is the main configuration file for the Ensembl Statistics pipeline. It includes base configurations for resources,
error handling, and reporting, as well as specific parameters for running various statistics analyses such as BUSCO and OMark.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
*/

// Inherit base configuration (resources, error handling, reporting)
includeConfig '../../nextflow.config'
includeConfig 'config/busco.config'
includeConfig 'config/omark.config'

plugins {
    id 'nf-schema@2.2.0'

}
// Pipeline-specific parameters
params {
  // Running options
  run_busco_core = false
  run_busco_ncbi = false
  run_omark = false
  run_ensembl_stats = false
  run_ensembl_beta_metakeys = false
  apply_ensembl_stats = false
  apply_ensembl_beta_metakeys = false
  apply_busco_metakeys = false

  // db connection 
  dbname  = null               
  host = null                  
  port = null  
  user = null  
  user_r = null
  password = null 
  mysql_ensadmin = "/hps/software/users/ensembl/ensw/mysql-cmds/ensembl/ensadmin"

  ncbiBaseUrl = "https://api.ncbi.nlm.nih.gov/datasets/v2alpha/genome/accession"
  readme = "${projectDir}/README.txt"

  team = ''

  // Input options
  csvFile = null

  enscode = null
  bioperl = "${params.enscode}/bioperl-1.6.924"
  help = false

  cacheDir = "${params.outdir}/cache"
  singularityCacheDir = "${params.cacheDir}/singularity"
  singularityAutoMounts = true
  files_latency = 60
  cleanCache = false // Default to false
}

singularity {
  cacheDir = params.singularityCacheDir
  enabled = true
  autoMounts = true
  pullTimeout = '2 hour'
}

profiles {

  standard {
    executor {
      name = 'slurm'
      queueSize = 2000
      submitRateLimit = "10/1sec"
      queueGlobalStatus = true
      exitReadTimeout = "30 min"
    }
    //process {
    //  clusterOptions = '-t 7-00:00:00 -e errlog.txt'
    //}
  }


}

process {
  //errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'terminate' }
  errorStrategy = { task.attempt <= 1 ? 'retry' : 'terminate' }
  maxRetries = 1

  withLabel: 'default' {
    cpus = 1
    memory = { 3.GB * task.attempt }
    time = { 1.h * task.attempt }
    afterScript = { "sleep 60" }
  }

  withLabel: 'fetch_file' {
    cpus = 2
    memory = { 8.GB * task.attempt }
    time = { 2.h * task.attempt }
    afterScript = "sleep ${params.files_latency}"
    maxForks = 10
  }

  withLabel: 'busco' {
    cpus = 40
    memory = { 40.GB * task.attempt }
    time = { 4.h * task.attempt }
    afterScript = "sleep ${params.files_latency}"
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = "ezlabgva/busco:${params.busco_version}"
  }

  withLabel: 'omamer' {
    cpus = 10
    memory = { 50.GB * task.attempt }
    time = { 4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp' 
    container = "ftricomi/omark"
  }
  withLabel: 'python' {
    maxForks = 10
    memory = { 10.GB * task.attempt }
    time = { 4.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = 'ftricomi/ensembl-statistics-python'
  }
}
